.btn {
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.btn-primary {
    background-color: blue;
    color: white;
}

.btn-secondary {
    background-color: gray;
}

.btn-warning {
    background-color: yellow;
}

.btn-danger {
    background-color: red;
    color: white;
}